*{
   background-color: #68524f;
   font-family: Arial, sans-serif;
   color: #fff;
   margin-left: 5px;
}
.links{
    color: #e6b120;
    row-gap: 13px;
    text-decoration: none;
    margin-left: 9px;
}
.div-links{
    margin-left: 300px;
}
.logo{
    margin-left: 2px;
    height: 30px;
    margin-right: 10px;
}
.logo-nome{
    margin: 0%;
    display: flex;
    align-items: center;
}
.parte2{
    display: flex;
    align-items: center;
}
.venha{
    font-size: 35px;
}
.receba{
    color: #e6b120;
    font-size: 35px;
}
.parte3{
    justify-content: left;
}
.nome{
    background-color: #fff;
    border-style: none;
    height: 30px;
    width: 400px;
    border-radius: 50px;
    margin-bottom: 30px;
}
.email{
    background-color: #fff;
    border-style: none;
    height: 30px;
    width: 400px;
    border-radius: 50px;
    margin-bottom: 30px;
}
.enviar{
    background-color:#e6b120;
    border-style: none;
    border-radius: 50px;
    height: 35px;
    width: 100px;
    margin-bottom: 5px;
}
.img2{
    display: flex;
    justify-content: right;
}
\\display flex align-items justify content